[global]
cluster_template = default
sanity_check = false

[aws]
aws_region_name = us-east-1

[cluster default]
key_name = tilne-global
vpc_settings = us-east-1
master_instance_type = c5.2xlarge
compute_instance_type = c5.2xlarge
base_os = centos7
scheduler = {{ scheduler }}
initial_queue_size = 0
max_queue_size = {{ max_queue_size }}
extra_json = { "cluster" : { "custom_node_package" : "https://s3.us-west-1.amazonaws.com/tilne-testcluster/node/aws-parallelcluster-node-2.6.0.tgz" } }
custom_ami = ami-000fd5e8fb534010d

[vpc us-east-1]
vpc_id = vpc-28cf8c52
master_subnet_id = subnet-2080682e

